.site-layout-sub-header-background {
  background: #fff;
}

.site-layout-background {
  background: #fff;
  padding: 24px;
  min-height: 100%;
}

.img {
  height:100px;
  width:100px;
  display:block;
  margin-left: auto;
  margin-right:auto;
}